.side-bar
  .side-bar__top-box
    .side-bar__top-box__user
      %p.side-bar__top-box__user__name
        = current_user.name
      %ul.side-bar__top-box__user__icons
        %li.side-bar__top-box__user__icons--newchat
          = link_to new_group_path do
            %i.con.far.fa-edit
        %li.side-bar__top-box__user__icons--box__icons__editaccount
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .side-bar__group
    - current_user.groups.each do |group|
      .side-bar__group__box
        = link_to '#' do
          .side-bar__group__box__name
            = group.name
          .side-bar__group__box__message
            メッセージはまだありません。
